<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
    <% data.forEach((e,idx) => { %>
      <div> 
        <h2><%=e.name%></h2>
        <h3><%=e.level%></h3>
        <img src="<%=e.image%>" alt="<%=e.name%>">    
        <form action="/Details/<%=e.id%>" method="post">
          <button>show-details</button>  
        </form>
      </div>
    <% });%> 
  </main>
</body>
</html>