<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <%- include('../layout/header.ejs') %>
  </header>


  <main>
    <% data.forEach((e,idx) => { %>
      <div>
        <h2><%=e.name%></h2>
        <h3><%=e.level%></h3>
        <img src="<%=e.img%>" alt="<%=e.name%>">    
        <form action="/addfavorite/<%=idx%>" method="post">
          <button>add-to-favorite</button>  
        </form>
      </div>
    <% });%> 
  </main>



  <footer>

  </footer>
</body>
</html>